<div class="container">

  <div class="col-md-12">

    <ul id="tabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#all" role="tab" data-toggle="tab">All</a></li>
      <li role="presentation"><a href="#online" role="tab" data-toggle="tab">Online</a></li>
      <li role="presentation"><a href="#offline" role="tab" data-toggle="tab">Offline</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="all">All content</div>
      <div role="tabpanel" class="tab-pane fade" id="online">Online content</div>
      <div role="tabpanel" class="tab-pane fade" id="offline">Offline content</div>
    </div>

  </div>
</div>
